.App {
    /* text-align: center; */
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  
  }
  .input {
    padding: 10px ;
    width: 300px;
    max-width: 90%;
    font-size: 1rem;
    letter-spacing:1px;
  }
  .btn {
    margin-top: 1rem;
    padding: 10px 40px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border: none;
  
  }
  
  .messages{
    color:rgb(172, 50, 50);
    font-size: 16px;
  }
  
  